.main-container {
    margin-top: var(--lg);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 16px;
    place-content: center;
}

.product-card {
    width: 240px;
    position: relative;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0 0 4px 0;
}

.product-info div p:nth-child(2) {
    font-size: var(--sd);
    margin-top: 0;
    color: var(--very-light-pink);
}

.icon-add-to-cart {
    margin: 0;
    position: absolute;
    left: var(--lg);
    top: var(--lg);
    cursor: pointer;
}

.icon-add-to-cart img {
    width: 35px;
    height: 35px;
}

@meadia (max-width: 640px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card {
        width: 140px;
    }

    .product-card img {
        width: 140px;
        height: 140px;
    }
}