.desktop-menu {
    position: absolute;
    right: calc(var(--lg) + 30px);
    top: calc(var(--lg) + 30px);
    width: 100px;
    height: fit-content;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    background: var(--menu-back);
    z-index: 100000000000;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:nth-child(3) {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:nth-child(3) a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    color: var(--black);
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
}